.App {
  text-align: center;
  height: 500px;
}

ul{
  
  display: flex;
  justify-content: flex-end;
  gap: 50px;
 
  background-color: rgb(190, 217, 254);
}
li{
 list-style-type: none;
 margin-right: 50px;
padding: 30px;
}

.active{
  background-color: rgb(255, 207, 207);
}